.door-field {
  width: 70%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.door {
  border: 1px solid gray;
  padding: 10px 20px;
  cursor: pointer;
}

.door img {
  width: 200px;
  height: 300px;
}
