@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}


h1 {
  margin-bottom: 70px;
}
.main {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.doorField {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  text-align: center;
  user-select: none;
}

.doorButton {
  height: 35px;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  grid-column-start: 1;
  margin: 30px 0;
}


.door {
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  background-color: bisque;
  padding: 10px 50px;
  margin: 0 40px;
  cursor: pointer;
}

.door:hover {
  transition: 0.2s;
  box-shadow: 0 0 8px 2px rgba(208,94,94,1);
  background-color: darkkhaki;
  opacity: .98;
}

.door_chosen {
  box-shadow: 0 0 0 4px rgba(208,94,94,1);
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  background-color: darkkhaki;
  padding: 10px 50px;
  margin: 0 40px;
  cursor: pointer;
  background-image: url("question.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.door_opened_good {
  pointer-events: none;
  box-shadow: 0 0 0 4px rgba(208,94,94,1);
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  padding: 10px 50px;
  margin: 0 40px;
  background-color: salmon;
  background-image: url("treasure-map.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.door_opened_bad {
  pointer-events: none;
  box-shadow: 0 0 0 4px rgba(208,94,94,1);
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  padding: 10px 50px;
  margin: 0 40px;
  background-color: coral;
  background-image: url("trash.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}


.door img {
  width: 200px;
  height: 300px;
}

.hover {
  transition: 0.5s;
  box-shadow: 0 0 0 10px rgba(208,94,94,1);
}
