.doorField {
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.door {
  height: 300px;
  width: 10%;
  border: 2px solid gray;
  background-color: bisque;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 40px;
}

.door_chosen {
  height: 300px;
  width: 10%;
  border: 2px solid gray;
  background-color: darkkhaki;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 40px;
}

.door img {
  width: 200px;
  height: 300px;
}

