h1 {
  margin-bottom: 70px;
}

.doorField {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}


.door {
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  background-color: bisque;
  padding: 10px 50px;
  margin: 0 40px;
  cursor: pointer;
}

.door:hover {
  transition: 0.2s;
  box-shadow: 0 0 8px 2px rgba(208,94,94,1);
  background-color: darkkhaki;
  opacity: .98;
}

.door_chosen {
  box-shadow: 0 0 0 4px rgba(208,94,94,1);
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  background-color: darkkhaki;
  padding: 10px 50px;
  margin: 0 40px;
  cursor: pointer;
}

.door_opened {
  pointer-events: none;
  box-shadow: 0 0 0 4px rgba(208,94,94,1);
  height: 250px;
  width: 30%;
  border: 2px solid gray;
  background-color: coral;
  padding: 10px 50px;
  margin: 0 40px;
}

.door img {
  width: 200px;
  height: 300px;
}

.hover {
  transition: 0.5s;
  box-shadow: 0 0 0 10px rgba(208,94,94,1);
}
